<p id="notice"><%= notice %></p>

<h1>Beerflows</h1>

<table>
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Drink</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @beerflows.each do |beerflow| %>
      <tr>
        <td><%= beerflow.quantity %></td>
        <td><%= beerflow.drink %></td>
        <td><%= link_to 'Show', beerflow %></td>
        <td><%= link_to 'Edit', edit_beerflow_path(beerflow) %></td>
        <td><%= link_to 'Destroy', beerflow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Beerflow', new_beerflow_path %>
