<% provide(:title, "BarCVVR Renflouage de "+User.find(@operation.user_id).firstName) %>

<h3>Envoie depuis <%= User.find(@operation.user_id).firstName %> <%= User.find(@operation.user_id).lastName %></h3>

<br>
<br>

<div class="row">
<%= form_for(@operation) do |f| %>
  <% if @operation.errors.any? %>
  <div class="row">
    <div class="col s12 l7">
      <div class="card red darken-4">
        <div class="card-content white-text">
          <span class="card-title"><%= pluralize(@operation.errors.count, "error") %> prohibited this user from being saved:</span>
          <ul>
          <% @operation.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  
  <div class="field" hidden>
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field" hidden>
    <%= f.label :date %>
    <%= f.datetime_select :date, :include_seconds => true %>
  </div>
  
  <div class="input-field col s12 l7">
    <%= f.label :sum, 'Total', 'data-error': 'Ce n\'est pas un nombre valide' %>
    <%= f.number_field :sum, pattern: '-?[0-9]*(\.[0-9]+)?', step: '0.01' %>
  </div>
  
  <div class="input-field col s12 l7">
    <input placeholder="Chercher un vélivol ..." type="text" onkeyup="SearchUser()" id="Search">
  </div>
  
  <div class="input-field col s12 l7">
    <select id="post_exchange_user" name="post_exchange_user">
      <% @users.each do |user| %>
        <option value="<%= user.id %>"><%= user.firstName %> <%= user.lastName %> (<%= user.alias %>)</option>
      <% end %>
    </select>
    <label>Envoie à :</label>
  </div>
  
  <div class="col s12 l7">
    <br/>
    <br/>  
    <br/>
    <button class="btn waves-effect waves-light" onclick="this.disabled=true;validForms();" type="submit" name="action">Valider
      <i class="material-icons right">send</i>
    </button>
  </div>
<% end %>
</div>

<script>
  $(document).ready(function() {
    $('select').material_select();
  });
  
  function SearchUser() {
    var input, filter, select, option, li, i, selectElement;
    input = document.getElementById("Search");
    filter = input.value.toUpperCase();
    select = document.getElementById("post_exchange_user");
    option = select.getElementsByTagName("option");
    if (filter != "") {
      for (i = 0; i < option.length; i++) {
        if (option[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
          select.parentElement.getElementsByTagName("ul")[0].getElementsByTagName("li")[i].style.display = "";
          if (!selectElement) {
            select.parentElement.getElementsByTagName("input")[0].value = option[i].innerHTML;
            select.parentElement.getElementsByTagName("ul")[0].getElementsByTagName("li")[i].classList.add("active");
            select.parentElement.getElementsByTagName("ul")[0].getElementsByTagName("li")[i].classList.add("selected");
            option[i].selected = true;
          }
          selectElement = true
        } else {
          select.parentElement.getElementsByTagName("ul")[0].getElementsByTagName("li")[i].classList.remove("active");
          select.parentElement.getElementsByTagName("ul")[0].getElementsByTagName("li")[i].classList.remove("selected");
          select.parentElement.getElementsByTagName("ul")[0].getElementsByTagName("li")[i].style.display = "none";
          option[i].selected = false;
        }
      }
    }
    else {
      for (i = 0; i < option.length; i++) {
        select.parentElement.getElementsByTagName("ul")[0].getElementsByTagName("li")[i].style.display = "";
      }
    }
  };
  
  function validForms() {
    event.preventDefault();
    forms = document.getElementsByClassName("new_operation");
    for(var i=0; i<forms.length; i++) {
      $.ajax({
        type: 'POST',
        url: "/operations",
        data: decodeURI($("#"+forms[i].id).serialize()),
      });
    }
  };
</script>
